<header class="header">
	<div class="container">
		<!-- Logo -->
		<div class="logo pull-left">
			<a href="index.html">
				<span class="logo-title"><i class="fa fa-globe"></i>MapProject</span>
				<span class="logo-text">Create map without any size limits</span>
			</a>
		</div>
		<!-- /Logo -->
		<div class="additional pull-right">
			<div class="pull-left">
				<ul>
					<li><a href="#"></a><a href="#" (click)="ModalLogin.showLoginModal()" data-toggle="modal" data-target="#ModalLogin">Login</a></li>
					<li><a href="#"></a><a href="#" (click)="ModalRegister.showRegistrationModal()" data-toggle="modal" data-target="#ModalRegister">Register</a></li>
				</ul>
			</div>
		</div>
	</div>
</header>
<!-- Modal Register and Login -->
<modal #ModalLogin></modal>
<modal #ModalRegister></modal>
