<cust-header></cust-header>
<!--navigation></navigation-->


<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->

<!--div class="form-group">
        <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
  </div-->
  <!--input type="text" class="form-control placeholder" #pacinput-->
<map></map>
<cust-footer></cust-footer>
