<div class="content-area content">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4">
        <div class="map-filter">
          <form name="find-location"  class="" [formGroup]="createMapForm" (ngSubmit)="sendData($event)">
              <div class="col-xs-12">
                <div class="filter-title">Zoom</div>
                  <input formControlName="zoom" value="" class="form-control placeholder" type="text">
                  <div *ngIf="createMapForm.controls['zoom'].hasError('required') && createMapForm.controls['zoom'].touched" 
                        class="alert alert-danger" 
                        style="margin-top:5px">
                        You must provide zoom of map.
                  </div>
                  <div *ngIf="createMapForm.controls['zoom'].hasError('pattern') && createMapForm.controls['zoom'].touched" 
                        class="alert alert-danger" 
                        style="margin-top:5px">
                        Zoom must be numeric(1-24), without any signs.
                  </div>
              </div>
              <div class="col-xs-12">
                <div class="filter-title">Size: width - height</div>
              </div>
              <div class="col-xs-6">
                <div class="form-group">
                  <input formControlName="width" id="width" value="" class="form-control placeholder" type="text">
                </div>
              </div>
              <div class="col-xs-6">
                <div class="form-group">
                  <input formControlName="height" id="height" value="" class="form-control placeholder" type="text">
                </div>
              </div>
              <div class="col-xs-12">
                <div *ngIf="createMapForm.controls['width'].hasError('required') && createMapForm.controls['width'].touched" 
                      class="alert alert-danger">
                      You must provide width of map.
                </div>
                <div *ngIf="createMapForm.controls['width'].hasError('pattern') && createMapForm.controls['width'].touched" 
                      class="alert alert-danger">
                      Width must be numeric, without any signs.
                </div>

                <div *ngIf="createMapForm.controls['height'].hasError('required') && createMapForm.controls['height'].touched" 
                      class="col-xs-12 alert alert-danger">
                      You must provide height of map.
                </div>
                <div *ngIf="createMapForm.controls['height'].hasError('pattern') && createMapForm.controls['height'].touched" 
                      class="col-xs-12 alert alert-danger">
                      Height must be numeric, without any signs.
                </div>
                <div class="form-group">
                  <button class="btn btn-success" type="submit" [disabled]="!createMapForm.valid">Create Map</button>
                  <!--input name="submit" class="form-button btn btn-default" id="submit_btn" value="Create Map">
                  < type="submit" (click)="OnClick($event)"-->
                </div>
              </div>
              <!--div class="col-xs-4">
                <span style="color: white">{{zoom}}</span>
              </div>
              <div class="col-xs-4">
                <span style="color: white">{{width}}</span>
              </div>
              <div class="col-xs-4">
                <span style="color: white">{{height}}</span>
              </div-->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

